In [1]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email":"CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"],
    "last":["Schafer"],
    "email":["CoreyMSchafer@gmail.com"]
}

In [8]:
people = {
    "first":["Corey",'Jane','John'],
    "last":["Schafer", "Doe", "Doe"],
    "email":["CoreyMSchafer@gmail.com","JaneDoe@email.com","JohnDoe@email.com"]
}

In [9]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(people)

In [12]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [13]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [14]:
type(df['email'])

pandas.core.series.Series

In [15]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [16]:
df[['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [17]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
df.iloc[[0,1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [21]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [25]:
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [30]:
df.set_index('email', inplace = True)

KeyError: "None of ['email'] are in the columns"

In [31]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [32]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [33]:
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [34]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [35]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [48]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [47]:
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object

In [49]:
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object